{
"$type": "System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib",
"SummaryFileDirectory": "summaryfile",
"ColumnMappingsFileDirectory": "UserTools",
"ColumnMappingsFileExtension": ".zip",
"BlockGroupsDataTableSuffix": "_Tracts_Block_Groups_Only",
"AllGeographiesDataTableSuffix": "_All_Geographies_Not_Tracts_Block_Groups",
"DataFileTypeExtension": ".zip",
"CurrentColumnMappingsFileUrl": "{CensusFtpRoot}/programs-surveys/acs/summary_file/2015/data/{ColumnMappingsFileName}{ColumnMappingsFileExtension}",
"CurrentAcsAllStateTablesUrl": "{CensusFtpRoot}/programs-surveys/acs/summary_file/2015/data/{CurrentAcsAllStateTablesDirectory}",
"FipsPlaceholder": "{FIPS-code}",
"DefaultPrj": "GEOGCS[\"GCS_North_American_1983\",DATUM[\"D_North_American_1983\",SPHEROID[\"GRS_1980\",6378137,298.257222101]],PRIMEM[\"Greenwich\",0],UNIT[\"Degree\",0.017453292519943295]]",
"ReservedColumnNames": "GEOID,GEOID_STRP",
"ShapeFileBlockGroupURL": "http://www2.census.gov/geo/tiger/GENZ2010/",
"ShapeFileBlockGroupFilename": "gz_2010_{FIPS-code}_150_00_500k.zip",
"ShapeFileTractURL": "http://www2.census.gov/geo/tiger/GENZ2010/",
"ShapeFileTractFilename": "gz_2010_{FIPS-code}_140_00_500k.zip",
"ShapeFileCountySubdivisionsURL": "http://www2.census.gov/geo/tiger/GENZ2010/",
"ShapeFileCountySubdivisionsFilename": "gz_2010_{FIPS-code}_060_00_500k.zip",
"ShapeFileCountiesURL": "http://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2010/",
"ShapeFileCountiesFilename": "tl_2010_{FIPS-code}_county10.zip",
"CensusFtpRoot": "http://www2.census.gov",
"CurrentAcsDirectory": "acs2015_5yr",
"CurrentAcsAllStateTablesDirectory": "5_year_by_state",
"ColumnMappingsFileName": "2015_5yr_Summary_FileTemplates"
}