{
  "$type": "System.Collections.Generic.Dictionary`2[[System.String, mscorlib],[System.Object, mscorlib]], mscorlib",
  "SummaryFileDirectory": "summaryfile",
  "ColumnMappingsFileDirectory": "UserTools",
  "ColumnMappingsFileExtension": ".zip",
  "BlockGroupsDataTableSuffix": "_Tracts_Block_Groups_Only",
  "AllGeographiesDataTableSuffix": "_All_Geographies_Not_Tracts_Block_Groups",
  "DataFileTypeExtension": ".zip",
  "CurrentColumnMappingsFileUrl": "{CensusFtpRoot}/{CurrentAcsDirectory}/{SummaryFileDirectory}/{ColumnMappingsFileDirectory}/{ColumnMappingsFileName}{ColumnMappingsFileExtension}",
  "CurrentAcsAllStateTablesUrl": "{CensusFtpRoot}/{CurrentAcsDirectory}/{SummaryFileDirectory}/{CurrentAcsAllStateTablesDirectory}",
  "FipsPlaceholder": "{FIPS-code}",
  "DefaultPrj": "GEOGCS[\"GCS_North_American_1983\",DATUM[\"D_North_American_1983\",SPHEROID[\"GRS_1980\",6378137,298.257222101]],PRIMEM[\"Greenwich\",0],UNIT[\"Degree\",0.017453292519943295]]",
  "ReservedColumnNames": "GEOID,GEOID_STRP",
  "ShapeFileBlockGroupURL": "http://www2.census.gov/geo/tiger/PREVGENZ/bg/bg00shp/",
  "ShapeFileBlockGroupFilename": "bg{FIPS-code}_d00_shp.zip",
  "ShapeFileTractURL": "http://www2.census.gov/geo/tiger/PREVGENZ/tr/tr00shp/",
  "ShapeFileTractFilename": "tr{FIPS-code}_d00_shp.zip",
  "ShapeFileCountySubdivisionsURL": "http://www2.census.gov/geo/tiger/PREVGENZ/cs/cs00shp/",
  "ShapeFileCountySubdivisionsFilename": "cs{FIPS-code}_d00_shp.zip",
  "ShapeFileCountiesURL": "http://www2.census.gov/geo/tiger/TIGER2010/COUNTY/2010/",
  "ShapeFileCountiesFilename": "tl_2010_{FIPS-code}_county10.zip",
  "CensusFtpRoot": "http://www2.census.gov",
  "CurrentAcsDirectory": "acs2005_2009_5yr",
  "CurrentAcsAllStateTablesDirectory": "2005-2009_ACSSF_By_State_All_Tables",
  "ColumnMappingsFileName": "2005-2009_SummaryFileXLS"
}